@model Webschool.Models.Estudiantes

@{
    ViewData["Title"] = "Crear";
}

<h2>Crear</h2>

<h4>Estudiantes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdEstudiante" class="control-label"></label>
                <input value="@Model.IdEstudiante"  asp-for="IdEstudiante" class="form-control"  />
                <span asp-validation-for="IdEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input value="@Model.Nombre"  asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input value="@Model.Apellidos"  asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacimiento" class="control-label"></label>
                <input value="@Model.Nacimiento" type="date"  asp-for="Nacimiento" class="form-control" />
                <span asp-validation-for="Nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grado" class="control-label"></label>
                <select asp-for="Grado" asp-items="Model.Gradoes"  value="@Model.Grado" class="form-control"></select>
                <span asp-validation-for="Grado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSeccion" class="control-label"></label>
                <input value="@Model.IdSeccion"  asp-for="IdSeccion" class="form-control" />
                <span asp-validation-for="IdSeccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input value="@Model.Direccion"  asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input  type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
