@model IEnumerable<Webschool.Models.Evaluaciones>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEvaluacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSeccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdIndicador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indicador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPeriodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEvaluacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSeccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdIndicador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indicador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPeriodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
